
/*#gamesboard-container{*/
/*    width: 500px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.game-board{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.block{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border: solid 1px black;*/
/*    box-sizing: border-box;*/
/*}*/



/*.option-container{*/
/*    width: 500px;*/
/*    height: 60px;*/
/*    margin: 30px 0;*/
/*    background-color: yellow;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


/*.destroyer{*/
/*    background-color: brown;*/
/*}*/
/*.destroyer-preview{*/
/*    width: 20px;*/
/*    height: 10px;*/
/*    margin: 3px;*/
/*}*/

/*.submarine{*/
/*    background-color: green;*/
/*}*/
/*.submarine-preview{*/
/*    width: 30px;*/
/*    height: 10px;*/
/*    margin: 3px;*/
/*}*/

/*.cruiser{*/
/*    background-color: purple;*/
/*}*/
/*.cruiser-preview{*/
/*    width: 30px;*/
/*    height: 10px;*/
/*    margin: 3px;*/
/*}*/

/*.battleship{*/
/*    background-color: orange;*/
/*}*/
/*.battleship-preview{*/
/*    width: 40px;*/
/*    height: 10px;*/
/*    margin: 3px;*/
/*}*/

/*.carrier{*/
/*    background-color: blue;*/
/*}*/
/*.carrier-preview{*/
/*    width: 50px;*/
/*    height: 10px;*/
/*    margin: 3px;*/
/*}*/

/*.hover{*/
/*    background-color: green;*/
/*}*/

/*.boom{*/
/*    background-color: red !important;*/
/*}*/

/*.empty{*/
/*    background-color: grey !important;*/
/*}*/


/*#computer .destroyer,*/
/*#computer .submarine,*/
/*#computer .cruiser,*/
/*#computer .battleship,*/
/*#computer .carrier{*/
/*    background-color: pink;*/
/*}*/

/* public/styles.css */

#gamesboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    box-sizing: border-box;
}

.option-container {
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: yellow;
    display: flex;
    align-items: center;
}

/* Navios */
.destroyer { background-color: brown; }
.destroyer-preview { width: 20px; height: 10px; margin: 3px; }

.submarine { background-color: green; }
.submarine-preview { width: 30px; height: 10px; margin: 3px; }

.cruiser { background-color: purple; }
.cruiser-preview { width: 30px; height: 10px; margin: 3px; }

.battleship { background-color: orange; }
.battleship-preview { width: 40px; height: 10px; margin: 3px; }

.carrier { background-color: blue; }
.carrier-preview { width: 50px; height: 10px; margin: 3px; }

/* Highlight e estado de acerto/erro */
.hover { background-color: green; }
.boom { background-color: red !important; }
.empty { background-color: grey !important; }

/* Faz o tabuleiro do computador aparecer sem revelar navios */
#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: pink;
}
